*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**
Font face
*/
@font-face{
    font-family:"Falkin";
    src: url('/Fonts/FalkinSerifPERSONAL.ttf') format("truetype");
}
@font-face{
    font-family:"FalkinBold";
    src: url('/Fonts/FalkinSerifBOldPERSONAL.ttf') format("truetype");
}
body{
    overflow: hidden;
    display: flex;
}
img{
    display: none;
}
/**
    Canvas
*/
#canvas{
    padding-top: 10px;
    margin-top: 100px;
}
/**
    barre du haut
*/
.infos::before{
    content: "Status :";

}
.infos {
    top: 0;
    left: 0;
    background-color: "red";
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.fixed {
    position: fixed;
    font-size: 1em;
    margin-left: 1em;
    margin-top: .5em;
    user-select: none;
    top:0;
    left:0;
    height: 300px;
    margin-bottom: 100px;
    /* background-color: red; */
}
.hide {

}
